body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 76%;
    padding: 0;
    margin: 0;
}

#container {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.annotation-entry {
    padding-top: 0.4em;
    padding-bottom: 1.5em;
    clear: both;
}

#annotations-results {
    border-bottom: darkgray dashed 1px;
}

.annotation-entry-title {
    padding: 0.4em;
    background-color: bisque;
    font-weight: bold;
    border-top: darkgray solid 1px;
    border-bottom: darkgray solid 1px;
}

.annotation-entry-description {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.annotation-entry-created {
    font-style: italic;
    color: #008b8b;
    float: left;
}

.fieldSet {
    margin-top: 1em;
}

.fieldSet legend {
    font-weight: bold;
    font-size: 1.2em;
}

#annotation-messages {
    font-style: italic;
    font-weight: bold;
    color: #ff0000;
}

.annotation-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}